<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc ">

    <mvc:default-servlet-handler/>
    <context:component-scan base-package="org.eintr.springframework.test.web"/>
    <bean id="/api/hrm" class="org.eintr.springframework.test.web.HttpRequestHandlerImpl"/>

    <bean id="jsonReturnValueHandler" class="org.eintr.springframework.test.web.DefaultJsonReturnValueHandler"/>
    <bean id="argumentHandler" class="org.eintr.springframework.test.web.DefaultArgumentHandler"/>
<!--
    <bean id="controllerImpl" class="org.eintr.springframework.test.web.ControllerImpl"/>
    <bean id="controllerOtherImpl" class="org.eintr.springframework.test.web.ControllerOtherImpl"/>
    <bean id="handlerMapping" class="org.eintr.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings" value="/api/hcm=controllerImpl;/api/hcom=controllerOtherImpl"/>
    </bean>
   -->
</beans>
