<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc ">

    <mvc:default-servlet-handler/>
    <context:component-scan base-package="org.eintr.springframework.test.web"/>
    <bean id="/api/hrm" class="org.eintr.springframework.test.web.HttpRequestHandlerImpl"/>

    <bean class="org.eintr.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mapping" value="classpath:token.properties"/>
    </bean>
</beans>
