<beans>
    <bean id="userDao" class="org.eintr.springframework.test.bean.ProxyBeanFactory"/>
    <bean id="userService" class="org.eintr.springframework.test.bean.UserService" scope="prototype">
        <property name="uId" value="1000"/>
        <property name="userDao" ref="userDao"/>
        <property name="Language" value="ENGLISH"/>
        <property name="location" value="北京"/>
    </bean>
    <bean class="org.eintr.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="org.eintr.springframework.test.common.MyBeanFactoryPostProcessor"/>

    <bean class="org.eintr.springframework.test.event.ContextClosedEventListener"/>
    <bean class="org.eintr.springframework.test.event.ContextRefreshedEventListener"/>
    <bean class="org.eintr.springframework.test.event.CustomEventListener"/>

</beans>