<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/context ">

    <bean id="interceptor" class="org.eintr.springframework.test.bean.UserServiceInterceptor"/>

    <!--切面拦截器-->
    <bean id="pointcutAdvisor" class="org.eintr.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* org.eintr.springframework.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="interceptor"/>
    </bean>
    <context:component-scan base-package="org.eintr.springframework.test.bean"/>

    <!--
    <context:component-scan base-package="org.eintr.springframework.test.event"/>
    <bean class="org.eintr.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>
    context:component-scan base-package="org.eintr.springframework.test.common"/>
    -->

</beans>